<template>
  <div class="wrapper">
    <div class="container">
      <input type="file" v-on:change="handleFile" />
      <ProgressIndicator variant="bar" :percentage="uploadPercentage" />
      <button class="btn btn-primary" v-on:click="submit">Upload</button>
    </div>
  </div>
</template>

<script>
import ProgressIndicator from "../../components/ProgressIndicator";
import UploadService from "../../services/Upload";
export default {
  name: "FileUpload",
  components: {
    ProgressIndicator
  },
  data() {
    return {
      file: "",
      uploadPercentage: 0
    };
  },
  methods: {
    updateUploadPercentage({ total, loaded }) {
      this.uploadPercentage = Math.round((loaded / total) * 100)
    },
    handleFile(event) {
      let reader = new FileReader();
      reader.readAsDataURL(event.target.files[0]);
      reader.onload = () => {
        this.file = reader.result;
      };
    },

    submit(event) {
      let formData = new FormData();
      formData.append("image", this.file);
      UploadService.upload(formData, this.updateUploadPercentage);
    }
  },
  mounted() {}
};
</script>

<style scoped>
progressBarContainer {
  width: 100%;
}

progressFill {
  width: 0%;
  height: 50px;
}
</style>