<template>
  <h2 class="heading2">
    <slot />
  </h2>
</template>

<style scoped>
.heading2 {
  font-size: 24px;
  padding: 20px;
}
</style>

<script>
export default {
  name: "Heading2"
};
</script>