<template>
  <h1 class="heading1">
    <slot />
  </h1>
</template>

<style scoped>
.heading1 {
  font-size: 30px;
  padding: 20px;
}
</style>

<script>
export default {
  name: "Heading1"
};
</script>