<template>
  <div class="homeWrapper">
    <Typography variant="h2">Select file to upload</Typography>
    <FileUpload />
  </div>
</template>

<style scoped>
.homeWrapper {
  width: 100%;
}
</style>

<script>
import FileUpload from "../containers/FileUpload";
import Typography from "../components/Typography";

export default {
  name: "Home",
  components: {
    Typography,
    FileUpload
  }
};
</script>