<template>
  <div class="loadingContainer">
    <div class="loadingFill" v-bind:style="fillPercentage"></div>
  </div>
</template>

<style scoped>
.loadingContainer {
  max-height: 50px;
  border-radius: 50%;
  width: 100%;
  height: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loadingFill {
  background: #7fff7f;
  height: 100%;
  transition: .5s
}
</style>

<script>
export default {
  name: "ProgressBar",
  props: {
    percentage: {
      type: Number
    }
  },
  computed: {
    fillPercentage: function() {
      return {
        width: `${this.percentage}%`
      };
    }
  }
};
</script>